<!-- 添加文章页面中的保存的用户提示的success界面 -->
<%- include('header') %>

<div class="container-fluid">
  <ol class="breadcrumb">
    <li><a href="/admin">管理首页</a></li>
    <li class="active">成功提示</li>
  </ol>
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">成功提示</h3>
    </div>
    <div class="panel-body">
      <%=message%>
    </div>
    <div class="panel-footer">
      <%if(url){%>
      <a href="<%=url%>">跳转</a>
      <%}else{%>
      <a href="javascript:window.history.back();">返回上一步</a>
      <%}%>
    </div>
  </div>
</div>
</body>
</html>